upstream docker-router {
  server iot-router;
}
server {
  listen  ${NGINX_PORT};
  location /iot-plants {
    # DON'T do /{endpoint}/(.*) as you'll need to add a / to match the pattern
    rewrite /iot-plants(.*) /$1  break;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://iot-api-plants:8000;
  }
}