MONGO_USERNAME=iot-manager
MONGO_PASSWORD=example
MONGO_URL=example
MONGO_PLANT_MONITORS_DATABASE=iot-plant-monitors-staging
MONGO_PLANT_DATA_DATABASE=iot-plant-data-staging
MONGO_AUTH_DATABASE=iot-auth-staging
AWS_ACCESS_KEY_ID=id
AWS_SECRET_ACCESS_KEY=key
S3_ENDPOINT=string
S3_BUCKET=string
